<main role="main-inner-wrapper" class="container">
  <div class="blog-details">
  <div class="blog-new .commentys-form">
    <h2>ブログ新規作成</h2>
    <%= render partial: 'blogs/blog_form', locals: { blog: @post, url: '/blogs', btn_name: "Submit" } %>
  </div>
  </div>
</main>
