
<!DOCTYPE html>
<html>
  <head>
    <title>Napoano365site</title>
    <meta name="csrf-param" content="authenticity_token" />
    <meta name="csrf-token" content="OQKQ1JsXklAN4EQSBxM4zhRtP6dUBXXDL3h9U0b3RcjVlxccOeJiPh/5+HHkf/pGGXhHTlamY938yU77WP1WLQ==" />
    <!-- <#%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %> -->
    <!-- <#%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %> -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta charset="utf-8">
    <!-- Description, Keywords and Author -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="app/assets/images/favicon.ico" type="image/x-icon">
    <!-- style -->
    <link href="app/assets/stylesheets/style.css" rel="stylesheet" type="text/css">
    <!-- style -->
    <!-- bootstrap -->
    <link href="app/assets/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!-- responsive -->
    <link href="app/assets/stylesheets/responsive.css" rel="stylesheet" type="text/css">
    <!-- font-awesome -->
    <link href="app/assets/stylesheets/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- font-awesome -->
    <link href="app/assets/stylesheets/effects/set2.css" rel="stylesheet" type="text/css">
    <link href="app/assets/stylesheets/effects/normalize.css" rel="stylesheet" type="text/css">
    <link href="app/assets/stylesheets/effects/component.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" media="all" href="/assets/bootstrap.min.self-8ab873727631f7cdcf14d0d5fc0da66f0dd94644cc504df40c42632c98eca1b1.css?body=1" />
    <link rel="stylesheet" media="all" href="/assets/effects/component.self-7b84acbb1178d2223419836aa2a7e56f6e246e1bec1b949efd91b81d917877ad.css?body=1" />
    <link rel="stylesheet" media="all" href="/assets/effects/normalize.self-9e7b33dc36e9b01e4b86429e06fa32664b4e7edd09745693bb03cd396d322f59.css?body=1" />
    <link rel="stylesheet" media="all" href="/assets/effects/set2.self-5bd7b575f9419133251a0021563a4d8878d91f81dd470c8922513e08f4e4a366.css?body=1" />
    <link rel="stylesheet" media="all" href="/assets/font-awesome.min.self-24d6fa1d49abee77b168003320787382ddc0f4b9e091934128912925389c53a6.css?body=1" />
    <link rel="stylesheet" media="all" href="/assets/responsive.self-11f7d32a8596ecbc1ff2b795a04b9d1eae15f0394cf2f930ac7199f14a48e6bf.css?body=1" />
    <link rel="stylesheet" media="all" href="/assets/style.self-3e1ee19f8dddab9319b42ea0412880a63cdee5777cd2fcebbbbb0ad0c5f1559a.css?body=1" />
    <link rel="stylesheet" media="all" href="/assets/application.self-4998ce12ecefa6ba42de36e4beac458527529608f8cf0fe6c97acd87850045e4.css?body=1" />
  </head>

  <body>
    <!-- header -->
<header role="header">
  <div class="container">
    <!-- logo -->
    <h1>
      <a href="/" title="avana LLC">
        <img title="avana LLC" alt="avana LLC" src="/assets/logo-33030178f5f9c91d0b19ef6998447cc42658d240069dcc864d5bc94116e9064b.png" />
      </a>
    </h1>
    <!-- nav -->
    <nav role="header-nav" class="navy">
      <ul>
        <li class="nav-active">
          <a href="/" title="Work">Work</a>
        </li>
        <li>
          <a href="about.html" title="About">About</a>
        </li>
        <li>
          <a href="blog.html" title="Blog">Blog</a>
        </li>
        <li>
          <a href="contact.html" title="Contact">Contact</a>
        </li>
      </ul>
    </nav>
    <!-- nav -->
  </div>
</header>
<!-- header -->

    <!-- main -->
<main role="main-home-wrapper" class="container">
  <div class="row">
    <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">
      <article role="pge-title-content">
        <header>
          <h2>
            <span>napoano</span>
            <span>365</span>
            <br>
            A Brand new Site.
          </h2>
        </header>
        <p>This is the story of Avana, a minimal Bootstrap template for creative agency.</p>
      </article>
    </section>

    <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid">
      <figure class="effect-oscar">
        <img alt="" class="img-responsive" src="/assets/home-images/image-1-38e6518f324b572b2f9a0ea9eec762f870e13c41832f3074bcc502ad0110184f.jpg" />
        <figcaption>
          <h2>Eliana Dedda<span>
              Identity</span></h2>
          <p>Personal Brand Identity.</p>
          <a href="works-details.html">View more</a>
        </figcaption>
      </figure>
    </section>
    <div class="clearfix"></div>

    <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid">
      <ul class="grid-lod effect-2" id="grid">
        <li>
          <figure class="effect-oscar">
            <img alt="" class="img-responsive" src="/assets/home-images/image-2-d64f871493758966494226dcdd20e75f74493d23bb815683c792388c1e26b5a9.jpg" />
            <figcaption>
              <h2>Studio Thonik
                <span>Exhibition</span>
              </h2>
              <p>Project for Thonik, design studio based in Amsterdam</p>
              <a href="works-details.html">View more</a>
            </figcaption>
          </figure>
        </li>

        <li>
          <figure class="effect-oscar">
            <img alt="" class="img-responsive" src="/assets/home-images/image-4-f687855b421fc1feab70ee6528b1e6417ca88e53691b3f33a72525f00d0cac0a.jpg" />
            <figcaption>
              <h2>A Brand
                <span>new Agency</span></h2>
              <p>Over 40,000 customers use our themes to power their</p>
              <a href="works-details.html">View more</a>
            </figcaption>
          </figure>
        </li>

        <li>
          <figure class="effect-oscar">
            <img alt="" class="img-responsive" src="/assets/home-images/image-2-d64f871493758966494226dcdd20e75f74493d23bb815683c792388c1e26b5a9.jpg" />
            <figcaption>
              <h2>Studio Thonik
                <span>Exhibition</span></h2>
              <p>Project for Thonik, design studio based in Amsterdam</p>
              <a href="works-details.html">View more</a>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure class="effect-oscar">
            <img alt="" class="img-responsive" src="/assets/home-images/image-4-f687855b421fc1feab70ee6528b1e6417ca88e53691b3f33a72525f00d0cac0a.jpg" />
            <figcaption>
              <h2>A Brand
                <span>new Agency</span></h2>
              <p>Over 40,000 customers use our themes to power their</p>
              <a href="works-details.html">View more</a>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure class="effect-oscar">
            <img alt="" class="img-responsive" src="/assets/home-images/image-2-d64f871493758966494226dcdd20e75f74493d23bb815683c792388c1e26b5a9.jpg" />
            <figcaption>
              <h2>Studio Thonik
                <span>Exhibition</span></h2>
              <p>Project for Thonik, design studio based in Amsterdam</p>
              <a href="works-details.html">View more</a>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure class="effect-oscar">
            <img alt="" class="img-responsive" src="/assets/home-images/image-4-f687855b421fc1feab70ee6528b1e6417ca88e53691b3f33a72525f00d0cac0a.jpg" />
            <figcaption>
              <h2>A Brand
                <span>new Agency</span></h2>
              <p>Over 40,000 customers use our themes to power their</p>
              <a href="works-details.html">View more</a>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure class="effect-oscar">
            <img alt="" class="img-responsive" src="/assets/home-images/image-2-d64f871493758966494226dcdd20e75f74493d23bb815683c792388c1e26b5a9.jpg" />
            <figcaption>
              <h2>Studio Thonik
                <span>Exhibition</span></h2>
              <p>Project for Thonik, design studio based in Amsterdam</p>
              <a href="works-details.html">View more</a>
            </figcaption>
          </figure>
        </li>

        <li>
          <figure class="effect-oscar">
            <img alt="" class="img-responsive" src="/assets/home-images/image-4-f687855b421fc1feab70ee6528b1e6417ca88e53691b3f33a72525f00d0cac0a.jpg" />
            <figcaption>
              <h2>A Brand
                <span>new Agency</span></h2>
              <p>Over 40,000 customers use our themes to power their</p>
              <a href="works-details.html">View more</a>
            </figcaption>
          </figure>
        </li>
      </ul>
    </section>
    <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid">
      <ul class="grid-lod effect-2" id="grid">
        <li>
          <figure class="effect-oscar">
            <img alt="" class="img-responsive" src="/assets/home-images/image-3-56acb902307d0467dec102d3e6ca19cc3f9877d4e74e3a943bc7de02d564caed.jpg" />
            <figcaption>
              <h2>Anatome Milano
                <span>Galleria</span></h2>
              <p>Galerie Anatome based in Paris</p>
              <a href="works-details.html">View more</a>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure class="effect-oscar">
            <img src="app/assets/images/home-images/image-5.jpg" alt="" class="img-responsive"/>
            <figcaption>
              <h2>A Brand
                <span>new Agency</span></h2>
              <p>Over 40,000 customers use our themes to power their</p>
              <a href="works-details.html">View more</a>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure class="effect-oscar">
            <img alt="" class="img-responsive" src="/assets/home-images/image-3-56acb902307d0467dec102d3e6ca19cc3f9877d4e74e3a943bc7de02d564caed.jpg" />
            <figcaption>
              <h2>Anatome Milano
                <span>Galleria</span></h2>
              <p>Galerie Anatome based in Paris</p>
              <a href="works-details.html">View more</a>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure class="effect-oscar">
            <img src="app/assets/images/home-images/image-5.jpg" alt="" class="img-responsive"/>
            <figcaption>
              <h2>A Brand
                <span>new Agency</span></h2>
              <p>Over 40,000 customers use our themes to power their</p>
              <a href="works-details.html">View more</a>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure class="effect-oscar">
            <img alt="" class="img-responsive" src="/assets/home-images/image-3-56acb902307d0467dec102d3e6ca19cc3f9877d4e74e3a943bc7de02d564caed.jpg" />
            <figcaption>
              <h2>Anatome Milano
                <span>Galleria</span></h2>
              <p>Galerie Anatome based in Paris</p>
              <a href="works-details.html">View more</a>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure class="effect-oscar">
            <img src="app/assets/images/home-images/image-5.jpg" alt="" class="img-responsive"/>
            <figcaption>
              <h2>A Brand
                <span>new Agency</span></h2>
              <p>Over 40,000 customers use our themes to power their</p>
              <a href="works-details.html">View more</a>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure class="effect-oscar">
            <img alt="" class="img-responsive" src="/assets/home-images/image-3-56acb902307d0467dec102d3e6ca19cc3f9877d4e74e3a943bc7de02d564caed.jpg" />
            <figcaption>
              <h2>Anatome Milano
                <span>Galleria</span></h2>
              <p>Galerie Anatome based in Paris</p>
              <a href="works-details.html">View more</a>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure class="effect-oscar">
            <img src="app/assets/images/home-images/image-5.jpg" alt="" class="img-responsive"/>
            <figcaption>
              <h2>A Brand
                <span>new Agency</span></h2>
              <p>Over 40,000 customers use our themes to power their</p>
              <a href="works-details.html">View more</a>
            </figcaption>
          </figure>
        </li>
      </ul>
    </section>
    <div class="clearfix"></div>
  </div>
</main>
<!-- main -->

    <footer role="footer">
  <!-- logo -->
  <h1>
    <a href="/" title="avana LLC">
      <img title="avana LLC" alt="avana LLC" src="/assets/logo-33030178f5f9c91d0b19ef6998447cc42658d240069dcc864d5bc94116e9064b.png" />
    </a>
  </h1>
  <!-- logo -->

  <!-- nav -->
  <nav role="footer-nav">
    <ul>
      <li>
        <a href="index.html" title="Work">Work</a>
      </li>
      <li>
        <a href="about.html" title="About">About</a>
      </li>
      <li>
        <a href="blog.html" title="Blog">Blog</a>
      </li>
      <li>
        <a href="contact.html" title="Contact">Contact</a>
      </li>
    </ul>
  </nav>
  <!-- nav -->
  <ul role="social-icons">
    <li>
      <a href="#">
        <i class="fa fa-twitter" aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-facebook" aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-linkedin" aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-flickr" aria-hidden="true"></i>
      </a>
    </li>
  </ul>
  <p class="copy-right">&copy; 2015 avana LLC.. All rights Resved</p>
</footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="app/assets/javascripts/jquery.min.js" type="text/javascript"></script>
    <!-- custom -->
    <script src="app/assets/javascripts/nav.js" type="text/javascript"></script>
    <script src="app/assets/javascripts/custom.js" type="text/javascript"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="app/assets/javascripts/bootstrap.min.js" type="text/javascript"></script>
    <script src="app/assets/javascripts/effects/masonry.pkgd.min.js" type="text/javascript"></script>
    <script src="app/assets/javascripts/effects/imagesloaded.js" type="text/javascript"></script>
    <script src="app/assets/javascripts/effects/classie.js" type="text/javascript"></script>
    <script src="app/assets/javascripts/effects/AnimOnScroll.js" type="text/javascript"></script>
    <script src="app/assets/javascripts/effects/modernizr.custom.js"></script>
    <!-- jquery.countdown -->
    <script src="app/assets/javascripts/html5shiv.js" type="text/javascript"></script>
  </body>
</html>
