<footer role="footer">
  <!-- logo -->
  <h1>
    <a href="/" title="avana LLC">
      <%= image_tag("logo.png", title: "avana LLC", alt: "avana LLC") %>
    </a>
  </h1>
  <!-- logo -->

  <!-- nav -->
  <nav role="footer-nav">
    <ul>
      <li>
        <%= link_to(root_url, title: 'Work') do %>Work
        <% end %>
      </li>
      <li>
        <%= link_to(about_url, title: 'About') do %>About
        <% end %>
      </li>
      <li>
        <%= link_to(blogs_url, title: 'Blog') do %>Blog
        <% end %>
      </li>
      <li>
        <a href="contact.html" title="Contact">Contact</a>
      </li>
    </ul>
  </nav>
  <!-- nav -->
  <ul role="social-icons">
    <li>
      <a href="#">
        <i class="fa fa-twitter" aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-facebook" aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-linkedin" aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-flickr" aria-hidden="true"></i>
      </a>
    </li>
  </ul>
  <p class="copy-right">&copy; 2015 avana LLC.. All rights Resved</p>
</footer>
